<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p class="has-text-weight-bold">{{ .Site.Data.footer.title}}</p>
            <ul>
                <li>{{ .Site.Data.footer.name}}</li>
                <li>{{ .Site.Data.footer.address}}</li>
                <li>{{ .Site.Data.footer.street}}</li>
                <li>{{ .Site.Data.footer.city}}</li>
                <li>{{ .Site.Data.footer.contact}}</li>
            </ul>
        </div>
    </div>
</footer>